/* Default element style */
/* ------------------------------------------------------------- */
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(#465B69, #687F88);*/
    background-color: #C4DFDF;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.text-white {
    color: white;
}

.link-default {
    text-decoration: none;
}

.h-default {
    text-transform: uppercase;
}

.li-default {
    list-style-type: none;
}
.text-danger{
    color:red;
}
.action-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 20px;
    padding:20px;
    color: #465B69;
}
    .action-link::before,
    .action-edit::before,
    .action-details::before,
    .action-create::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-size: cover;
      
    }
    .action-link::before{
  background-image: url(/img/back.png)
    }
    .action-link:hover::before,
    .action-edit:hover::before,
    .action-details:hover::before,
    .action-create:hover::before {
        filter: drop-shadow(2px 4px 6px black);
    }

    .action-edit{
        color:green;
    }
.action-details{
color:blue;
}
.action-delete {
    color:red;
}
.action-create {
    color: green;
    position: relative;
    display: inline-block;   
    padding-left: 20px;
}
    .action-create::before {
        background-image: url(/img/icons8-plus.svg)
    }
/* ------------------------------------------------------------- */
/*    iPads, Tablets                                             */
/* ------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 768px) {
    html, body {
        font-size: 16px;
    }

    .content {
        flex-direction: column !important;
    }

    .card-departments, .card-employee {
        display: flex;
        flex-direction: column-reverse;
        width: 90% !important;
        height: 350px !important;
    }

        .card-employee img {
            height: 90% !important;
        }
}
/* ------------------------------------------------------------- */
/*Small screens, laptops                                         */
/* ------------------------------------------------------------- */
@media (min-width:769px) and (max-width: 1024px) {
    html, body {
        font-size: 16px;
    }

    .content {
        flex-direction: column !important;
    }

    .card-departments, .card-employee {
        width: 90% !important;
        height: 350px !important;
    }

        .card-employee img {
            height: 90% !important;
        }
}

/* ------------------------------------------------------------- */
/* settings containers                                           */
/* ------------------------------------------------------------- */
.main-grid-container {
    display: grid;
    grid-template-columns: 90px repeat(5, 1fr);
    grid-template-rows: 90px 1fr;
    grid-gap: 0;
    width: 100%;
    height: 100%;
}

nav {
    grid-area: 1/1/6/2;
}

header {
    grid-area: 1/2/2/7;
    background-color: #F8F6F4;
    /*border-radius: 20px;*/
    margin: 14px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    grid-area: 2/2/5/7;
}

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 90px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #A1CCD1;*/
    margin-left: 5px;
}

main {
    background-color: #F8F6F4;
    margin: 15px;
    padding: 15px;
    height: calc(100% - 60px);
    overflow: auto;
    justify-content:center;
}
/* ------------------------------------------------------------- */
/* scroll style                                                  */
/* ------------------------------------------------------------- */
    main::-webkit-scrollbar {
        margin-right: 5px;
        width: 6px;
    }

    main::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    main::-webkit-scrollbar-thumb {
        background-color: #888;
    }

        main::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
/* ------------------------------------------------------------- */

/* logo style                                                    */
/* ------------------------------------------------------------- */
.logo {
    margin-top: 15px;
}

    .logo img {
        width: 60px;
    }
/* ------------------------------------------------------------- */

/* navbar style                                                  */
/* ------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100% !important;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100% !important;
}

    .navbar-items .nav-item {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }

.nav-item h6 {
    margin: 10px;
}

.nav-item img {
    height: 30%;
}

.nav-item:hover img {
    filter: invert(75%);
}

.nav-item:hover h6 {
    filter: invert(75%);
}

.content {
    display: flex;
    flex-direction: row;
}

.content-column {
    flex-direction: column;
}
/* ------------------------------------------------------------- */
/* card style                                                    */
/* ------------------------------------------------------------- */
.card {
    background-color: #F9F9F9;
    display: flex;
    height: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 40px;
    color: white;
}

.card-employee {
    background: radial-gradient(at left top, #3289A0, #EDCCBB);
    width: 60%;
}

    .card-employee img {
        object-position: left bottom;
    }

.image {
    object-position: left bottom;
    height: 90%;
    width: 100%;
}

.card-departments {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #F7D3C1;
    color: black;
}

    .card-departments img {
        width: 100%;
    }

/* ------------------------------------------------------------- */
/* table                                                         */
/* ------------------------------------------------------------- */
.table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #f2f2f2;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* ------------------------------------------------------------- */
    /* struct organisation                                           */
    /* ------------------------------------------------------------- */
    .tree {
        width: fit-content;
        list-style-type: none;
    }

    .tree li a {
        color: black;
    }
    .tree > li:hover a {
        color: #E9B384;
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    }
/* ------------------------------------------------------------- */
/* form                                                          */
/* ------------------------------------------------------------- */
select option {
   padding: 10px;
   min-height:100px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    min-width:200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
    .form .form-row {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 10px;
    }
        /*.form .form-row .form-control{
            margin:10px
        }*/
        .form .form-group {
            width:100%;
            display: flex;
            flex-direction: column;
        }

            .form .form-group input[type="text"].form-control,
            .form .form-group input[type="number"].form-control,
            .form .form-group input[type="submit"],
            .form .form-group input[type="date"].form-control,
            .form .form-group select.form-control {
                padding: 12px 16px;
                border: 1px solid rgba(105,105,105,0.397);
                border-radius: 10px;
            }

                .form .form-group input[type="text"].form-control:focus,
                .form .form-group input[type="number"].form-control:focus,
                .form .form-group input[type="submit"]:focus,
                .form .form-group input[type="date"].form-control:focus,
                .form .form-group select.form-control:focus {
                    -webkit-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                    -moz-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                    box-shadow: 4px 6px 50px 13px rgba(70, 91, 105, 0.2);
                }
                .form .form-group input[type="text"].form-control:hover,
                .form .form-group input[type="number"].form-control:hover,
                .form .form-group input[type="submit"]:hover,
                .form .form-group input[type="date"].form-control:hover,
                .form .form-group select.form-control:hover {
                    -webkit-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                    -moz-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                    box-shadow: 4px 6px 50px 13px rgba(70, 91, 105, 0.2);
                }
    .form .form-group span {
        margin:5px;
    }
    .form .control-label {
        display: block;
        margin-bottom: 5px;
    }
    .form button:active {
        scale: 0.95;
    }
/*

*/
