:root {
    /*--body: #F5F5FC;*/
    --body: #ededed;
    --header: #fefefe6100;
    /*--header: #FEFEFE;*/
    --main: #FEFEFE;
    --card: #f9f9f9;
    --navbar: #8585BB;
    --color-nav: #fff;
    /*--color-nav: #AAA9B5;*/
    --color-header: #494b57;
    /*--color-header: #fff;*/
    --color-main: #34333F;
    --color-card: #34333F;
    --color-table: #34333F;
    --color-active: #9797DB;
    --color-canva: #fff;
}

/* Default element style */
/* ------------------------------------------------------------- */
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: var(--body);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.text-white {
    color: white;
}

.link-default {
    text-decoration: none;
}

.h-default {
    text-transform: uppercase;
}

.li-default {
    list-style-type: none;
}

.text-danger {
    color: red;
}

.action-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    color: #465B69;
}

    .action-link::before,
    .action-edit::before,
    .action-details::before,
    .action-create::before,
    .action-delete::before,
    .p-link::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-size: cover;
    }

    .action-link::before {
        background-image: url(/img/back.png)
    }

    .action-link:hover::before,
    .action-edit:hover::before,
    .action-details:hover::before,
    .action-create:hover::before,
    .action-delete:hover::before,
    .p-link:hover::before {
        filter: drop-shadow(2px 4px 6px black);
    }

.action-edit,
.action-details,
.action-create,
.action-delete,
.p-link {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.action-edit {
    color: green;
}

    .action-edit::before {
        background-image: url(/img/icons8-edit-32.png);
    }

.action-details {
    color: blue;
}

    .action-details::before {
        background-image: url(/img/icons8-information.svg);
    }

.action-delete {
    color: red;
}

    .action-delete::before {
        background-image: url(/img/icons8-close.svg);
    }

.action-create {
    color: green;
}

    .action-create::before {
        background-image: url(/img/icons8-plus.svg)
    }

.p-link::before {
    fill:var(--color-header);
    background-image: url(/img/PeopleBlack.svg);
}
    
    /* ------------------------------------------------------------- */
    /*    iPads, Tablets                                             */
    /* ------------------------------------------------------------- */
    @media (min-width: 481px) and (max-width: 768px) {
        html, body {
        font-size: 16px;
    }

    .content {
        flex-direction: column !important;
    }
        .card,
        .card-canvas {
            margin: 10px !important;
            width: 95% !important;
        }
        .canvas{
            margin:10px !important;
        }
}
/* ------------------------------------------------------------- */
/*Small screens, laptops                                         */
/* ------------------------------------------------------------- */
@media (min-width:769px) and (max-width: 1024px) {
    html, body {
        font-size: 16px;
    }

    .content {
        flex-direction: column !important;
    }
    .card,
    .card-canvas {
        margin:10px !important;
        width: 95% !important;
    }
    .canvas {
        margin: 10px !important;
    }
}

/* ------------------------------------------------------------- */
/* settings containers                                           */
/* ------------------------------------------------------------- */
.main-grid-container {
    display: grid;
    grid-template-columns: 90px repeat(5, 1fr);
    grid-template-rows: 90px 1fr;
    grid-gap: 0;
    width: 100%;
    height: 100%;
}

nav {
    grid-area: 1/1/6/2;
}

header {
    grid-area: 1/2/2/7;
    background-color: var(--header);
    margin: 14px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-header);
    
}
    header h1 {
        /*font-family: "Roboto-Regular";*/
        font-family: "Roboto-Medium";
        font-weight: 200;
    }

.wrapper {
    grid-area: 2/2/5/7;
}

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 90px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar);
}

main {
    background-color: var(--main);
    margin: 15px;
    padding: 15px;
    height: calc(100% - 60px);
    overflow: auto;
    justify-content: center;
    color: var(--color-main);
    font-family: "Roboto-Regular";
/*    -webkit-box-shadow: 0px 1px 10px 3px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 1px 10px 3px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 1px 10px 3px rgba(34, 60, 80, 0.2) inset;*/
}
    /* ------------------------------------------------------------- */
    /* scroll style                                                  */
    /* ------------------------------------------------------------- */
    main::-webkit-scrollbar {
        margin-right: 5px;
        width: 6px;
    }

    main::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    main::-webkit-scrollbar-thumb {
        background-color: #888;
    }

        main::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }
/* ------------------------------------------------------------- */

/* logo style                                                    */
/* ------------------------------------------------------------- */
.logo {
    margin-top: 15px;
}

    .logo img {
        width: 60px;
    }
/* ------------------------------------------------------------- */

/* navbar style                                                  */
/* ------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100% !important;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100% !important;
    
}

    .navbar-items .nav-item {
        display: flex;
        flex-direction: column;
        color: var(--color-nav);
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }

.nav-item p {
    font-family: "Roboto-Thin";
    font-size:12px;
    margin: 10px;
}

.nav-item img {
    height: 30%;
    /*filter: invert(75%);*/
}

.nav-item:hover img {
    filter: invert(60%);
}

.nav-item:hover p {
    filter: invert(75%);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.content-column {
    flex-direction: column;
}
/* ------------------------------------------------------------- */
/* card style                                                    */
/* ------------------------------------------------------------- */
.card {
    background-color: var(--card);
    display: flex;
    margin: 0px 5px 0px 10px;
    color: var(--color-card);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 35%;
    -webkit-box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
}
/* ------------------------------------------------------------- */
/* style index information                                       */
/* ------------------------------------------------------------- */
.card-canvas {
    background-color: var(--card);
    margin: 0px 5px 0px 10px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    -webkit-box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 19px -3px rgba(34, 60, 80, 0.2);
}

    .card-canvas .canvas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border-radius: 200px;
        color: var(--color-canva);
    }

        .card-canvas .canvas img {
            height: 40%;
            width: 40%;
            fill: white;
        }
/* ------------------------------------------------------------- */
/* table                                                         */
/* ------------------------------------------------------------- */
.table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    color: var(--color-table);
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

        .table tr:hover {
            background-color: #ddd;
        }

    .table th {
        background-color: #f2f2f2;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
        .table tbody tr:nth-child(even):hover {
            color: black;
            filter: invert(10%);
        }

/* ------------------------------------------------------------- */
/* struct organisation                                           */
/* ------------------------------------------------------------- */

.card ul {
    list-style-type: none;
    padding: 0;
}

    .card ul > li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
    }

        .card ul > li::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            border-left: 1px solid #000;
            height: 100%;
        }

        .card ul > li::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -10px;
            border-top: 1px solid #000;
            width: 10px;
        }

    .card ul ul {
        margin-left: 20px;
    }

.card ul {
    margin-left: 20px;
}

    .card ul li:hover a {
        color: var(--color-active);
    }

    .card ul li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card ul li a {
        color: var(--color-card);
    }

        .card ul li a p {
            margin: 0px 20px;
        }

/* ------------------------------------------------------------- */
/* form                                                          */
/* ------------------------------------------------------------- */
select option {
    padding: 10px;
    min-height: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    min-width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: var(--card);
}

    .form .form-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .form .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        .form .form-group input[type="text"].form-control,
        .form .form-group input[type="number"].form-control,
        .form .form-group input[type="submit"],
        .form .form-group input[type="date"].form-control,
        .form .form-group select.form-control {
            padding: 12px 16px;
            border: 1px solid rgba(105,105,105,0.397);
            border-radius: 10px;
        }

            .form .form-group input[type="text"].form-control:focus,
            .form .form-group input[type="number"].form-control:focus,
            .form .form-group input[type="submit"]:focus,
            .form .form-group input[type="date"].form-control:focus,
            .form .form-group select.form-control:focus {
                -webkit-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                -moz-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                box-shadow: 4px 6px 50px 13px rgba(70, 91, 105, 0.2);
            }

            .form .form-group input[type="text"].form-control:hover,
            .form .form-group input[type="number"].form-control:hover,
            .form .form-group input[type="submit"]:hover,
            .form .form-group input[type="date"].form-control:hover,
            .form .form-group select.form-control:hover {
                -webkit-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                -moz-box-shadow: 4px 6px 100px 13px rgba(70, 91, 105, 0.2);
                box-shadow: 4px 6px 50px 13px rgba(70, 91, 105, 0.2);
            }

        .form .form-group span {
            margin: 5px;
        }

    .form .control-label {
        display: block;
        margin-bottom: 5px;
    }
/* ------------------------------------------------------------- */
/* deteils                                                       */
/* ------------------------------------------------------------- */
main dl {
    display: flex;
    flex-wrap: wrap;
}

main dl dt {
    flex-basis: 30%;
    color:#AAA9B5;
    margin-bottom: 5px;
}

main dl dd {
    flex-basis: 70%;
    font-weight: bold;
    margin-bottom: 5px;
}

main dl dl::after {
    content: "";
    display: table;
    clear: both;
}
/* ------------------------------------------------------------- */
/* buttons                                                       */
/* ------------------------------------------------------------- */
.btn {
    background-color: var( --navbar);
    color: white;
}
.btn-delete {
    background-color: red;
    color: white;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../font/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../font/Roboto-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 