@model IEnumerable<Company.Models.Department>
@{
    ViewData["Title"] = "Главная страница";
}

<div class="content content-column">
 <h2>Структура компании</h2>
 <div id="companyView">
     @Html.Raw(@ViewBag.Company)
      
 </div>
</div>