@{
    ViewData["Title"] = "Главная страница";
}

<div class="content">
    <a href="/Empoyees"><div class="card">Сотрудники</div> </a>
    <a href="/Departments"><div class="card"> Отделы</div></a>
</div>