@{
    ViewData["Title"] = "Главная страница";
}

<div class="content">
    <a class="card card-employee link-default " href="/Empoyees">

        <img src="/img/9430578_4153547.svg" />  
        <h2 class="h-default">Сотрудники</h2>

        </a>
    
        <a class="card card-departments link-default " href="/Departments">
            <img class="image" src="/img/18151573_5961061.svg" />
            <h2>Отделы</h2>
        </a>
 
</div>