<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Company</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Company.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main-grid-container">
        <nav class="nav"> 
            
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/img/logo.svg" />
            </a>

            <div class="navbar-items">
                <a class="nav-item link-default " asp-area="" asp-controller="Empoyees" asp-action="Index">
                    <img src="/img/People.svg" />
                    <p class="h-default">Сотрудники</p>
                </a>
                <a class="nav-item link-default" asp-area="" asp-controller="Departments" asp-action="Index">
                    <img src="/img/department.png" />
                    <p class="h-default">Отделы</p>
                </a>
            </div>
            
        </nav>

        <header>
            <h1>@ViewData["Title"]</h1>
        </header>

        <div class="wrapper">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
